html {
	background-color: #d8f2ff;
	font-family: 'Lato', sans-serif;
	min-width: 360px;
}

.App {
	text-align: center;
	min-width: 360px;
	height: 100%;
	background-color: #d8f2ff;
	font-family: 'Lato', sans-serif;
}
