## [Start] Stash resolver specific context.. **
$util.qr($ctx.stash.put("typeName", "Mutation"))
$util.qr($ctx.stash.put("fieldName", "generateVideoToken"))
{}
## [End] Stash resolver specific context.. **